EVENTCOUNTSWITCHCASE ( perf_hw_cache_op_result_id, HWCACHE_OPRESULT_EVENT_T, HW_CACHE_RESULT_ACCESS )
EVENTCOUNTSWITCHCASE ( perf_hw_cache_op_result_id, HWCACHE_OPRESULT_EVENT_T, HW_CACHE_RESULT_MISS )
