EVENTCOUNTSWITCHCASE ( perf_hw_cache_op_id, HWCACHE_OPID_EVENT_T, HW_CACHE_OP_READ )
EVENTCOUNTSWITCHCASE ( perf_hw_cache_op_id, HWCACHE_OPID_EVENT_T, HW_CACHE_OP_WRITE )
EVENTCOUNTSWITCHCASE ( perf_hw_cache_op_id, HWCACHE_OPID_EVENT_T, HW_CACHE_OP_PREFETCH )
