EVENTCOUNTSWITCHCASE ( perf_hw_cache_id, HWCACHE_EVENT_T, HW_CACHE_L1D )
EVENTCOUNTSWITCHCASE ( perf_hw_cache_id, HWCACHE_EVENT_T, HW_CACHE_L1I )
EVENTCOUNTSWITCHCASE ( perf_hw_cache_id, HWCACHE_EVENT_T, HW_CACHE_LL )
EVENTCOUNTSWITCHCASE ( perf_hw_cache_id, HWCACHE_EVENT_T, HW_CACHE_DTLB )
EVENTCOUNTSWITCHCASE ( perf_hw_cache_id, HWCACHE_EVENT_T, HW_CACHE_ITLB )
EVENTCOUNTSWITCHCASE ( perf_hw_cache_id, HWCACHE_EVENT_T, HW_CACHE_BPU )
EVENTCOUNTSWITCHCASE ( perf_hw_cache_id, HWCACHE_EVENT_T, HW_CACHE_NODE )
